<!DOCTYPE html>
<link lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}" {%block head%}{% endblock%}>
</head>

<body>
    {%block tableHeader%}{% endblock%}

    <table class="styled-table">
        <thead>
            <tr>
                {% for column_name in column_names %}
                <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if records %}
            {% for record in records %}
            <tr>
                {% for value in record %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="{{ column_names|length }}">No records found.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <p>{{num_rows_affected}}</p>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {%block body%}{% endblock%}
</body>

</html>