{%extends 'base.html'%}



{%block head%}
{% endblock%}
{%block tableHeader%}
<h1>Employees Table</h1>
<div class="row justify-content-center align-items-center h-100">
    <div class="col-md-3 mb-4">

        <form action="/employee/" , method="POST">
            <input type="text" name="input_pr_id" placeholder="Enter id" required>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="col-md-3 mb-4">
        <form action="/employee/delete" , method="POST">
            <input type="text" name="input_pr_id2" placeholder="Enter id" required>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
    <div class="col-md-3 mb-4">
        <a href="/insert_employee">
            <button class="btn btn-primary ">Insert</button>
        </a>
    </div>
    <div class="col-md-3 mb-4">
        <a href="/update_employee">
            <button class="btn btn-primary ">Update</button>
        </a>
    </div>
</div>
{% endblock%}
{%block body%}



{% endblock%}